{% extends "navbar.html" %} {% block content %}

<h1 class="text-5xl">About</h1>

<h1 class="text-3xl my-8">Team Members</h1>

<table class="w-100 table-auto">
  <thead>
    <tr>
      <td class="border px-4 py-2 font-bold">Name</td>
      <td class="border px-4 py-2 font-bold">USN</td>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-gray-100">
      <td class="border px-4 py-2">Anurag G</td>
      <td class="border px-4 py-2">1DB16CS021</td>
    </tr>
    <tr>
      <td class="border px-4 py-2">C Sagar Patil</td>
      <td class="border px-4 py-2">1DB16CS042</td>
    </tr>
    <tr class="bg-gray-100">
      <td class="border px-4 py-2">Harsha JK</td>
      <td class="border px-4 py-2">1DB16CS056</td>
    </tr>
    <tr>
      <td class="border px-4 py-2">Deepak SD</td>
      <td class="border px-4 py-2">1DB17CS403</td>
    </tr>
  </tbody>
</table>

<h1 class="text-3xl my-12">Technology Stack</h1>
<div class="flex flex-row">
  <img
    style="max-height: 15vw;"
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fblog.keras.io%2Fimg%2Fkeras-tensorflow-logo.jpg&f=1&nofb=1"
    alt=""
  />
  <img
    style="max-height: 15vw;"
    src="https://miro.medium.com/max/4362/1*nfddEH0H61-gLIgDFIe79A.png"
    alt=""
  />
</div>
{% endblock %}
